# 30/12/2025

In [3]:
a={}
b=set()
print(type(a))   #it is set
print(type(b))   #it is dictionary

<class 'dict'>
<class 'set'>

In [2]:
a={10,20}
a.add(30)
print(a)

{10, 20, 30}

In [4]:
a={1,2,'pune',3.5,True}   
print(a)
print(type(a))

{1, 2, 3.5, 'pune'}
<class 'set'>

In [13]:
collection={1,2,4,1000,3,4}
#print(collection.remove('gayatri')) 
print(collection.pop())

1

In [16]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}            
print(set1.union(set2))     #duplicates are removed 
print(set1.intersection(set2))  #common elements only
print(set1.difference(set2))    #elements in set1 but not in set2    
print(set2.difference(set1))    #elements in set2 but not in set1

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}

In [20]:
ab={1,2,3}
ab.remove(2)
ab.discard(5)   #no error if element not found
ab.discard(3)   
print(ab)   
print(ab)
print(ab)

{1}
{1}
{1}

In [23]:
total={"amit","rohit","sneha"}
present={"rohit","sneha"}   
print(total.difference(present))    
absent=total - present  
print(absent)

{'amit'}
{'amit'}

In [ ]:
user1={"rahul","amit","sneha"}
user2={"karan","rahul"}
print(user1&user2)

{'rahul'}

In [31]:
usernames={"SANU","GAYU"}
new_user="POO"
if new_user in usernames:
    print("username already exists")    
else:   
    print("username available")

username available

In [33]:
#SWAPPING OF 2 NUMBERS
a=10
b=20             
a,b=b,a
print("a=",a)           
print("b=",b)

a= 20
b= 10

In [39]:
#remove duplicate word from a sentence  
sentence="python is easy and python is popular"
words=sentence.split()   #splitting sentence into words 
unique_words=set(words)   #removing duplicates using set            
print(unique_words)

{'is', 'easy', 'and', 'python', 'popular'}

In [42]:
marks=int(input("enter marks:"))
if marks>=90:
    print("grade A")    
elif marks>=75:
    print("grade B") 
elif marks>=50 and marks<75:
    print("grade C")    
else:
    print("fail")

grade C

In [43]:
#nested if 
num=int(input("enter a number:"))
if num>0:
    if num%2==0:
        print("positive even number")    
    else:
        print("positive odd number")

positive even number

In [ ]:
#find even or odd number 
num=int(input("enter a number"))
if num<0:
        if num%2==0:
            print("even number and positive")
        elif num<0:
            print("enter positive number")
        else:
            print("odd number")

enter positive number

In [ ]:
#at least one condition must be true 
day="saturday"
if day == "Saturday" or "Sunday":
    print("it is a weekend")
else:
    print("it is not a weekend")

In [1]:
#real world eg 
#to check if a number is positive,negative or zero
num=int(input("enter a number:"))
if num>0:   
    print("positive number")
elif num<0:
    print("negative number")        
else:
    print("zero")

positive number

In [3]:
#real world eg
#check if username and password are correct to allow access 
username=input("enter username:")
password=input("eneter password:")
if username=="admin" and password=="admin123":
    print("access granted")
else:
    print("access denied")

access denied

In [ ]:
#display the action based on traffic light color red,green,yellow
light_color=input("enter traffic light color(red,yellow,green)").lower()
if light_color=="red":
    print("stop")   
elif light_color=="green":
    print("go") 
elif light_color=="yellow":
    print("get ready")  
else:
    print("invalid color")

invalid color

In [5]:
username=input("enter username:")
password=input("enter password:")
amount=int(input("enter amount to withdraw:"))
if username=="user1" and password=="pass123":
    if amount<=1000:
        print("withdrawal successful")
        print("remaining balance:", 1000-amount)
    else:
        print("insufficient balance")

withdrawal successful
remaining balance: 200

In [8]:
balance=5000
withdraw_amount=int(input("enter amount to withdraw:"))
if withdraw_amount > balance:
    print("insufficient balance")
elif withdraw_amount % 100 != 0:
    print("enter amount in multiples of 100")
else:
    balance -= withdraw_amount  
    print("Transaction successful! Remaining balance:",balance)

Transaction successful! Remaining balance: 4900

In [12]:
#age is more than 18 and id_proof is provided without using inbult operators
age=int(input("enter your age:"))
id_proof=input("do you have id proof(yes/no):").lower()
if age>18:
    if id_proof=="yes":
        print("eligible to vote")
    else:
        print("id proof required to vote")
else:
    print("not eligible to vote")

not eligible to vote

In [15]:
#apply discount based on total purchase amount
amount=int(input("enter total purchase amount:"))
new_amount=0 
if (amount>=5000):
    new_amount=amount - (amount*0.1)   
    print("you got 10% discount")
    print("new amount to pay:",new_amount)
elif (amount>=2000):
    new_amount=amount - (amount*0.05)   
    print("you got 5% discount")
    print("new amount to pay:",new_amount)
else:
    print("no discount applicable")
    print("amount to pay:",amount)

you got 5% discount
new amount to pay: 3800.0

In [ ]:
age=int(input("enter your age:"))
weight=int(input("enter your weight:"))
if 18<=age<=50:
    if weight>=50:
        print("you are eligible to donate blood")
    else:
        print("weight must be at least 50kg to donate blood")   
else:
    print("age must not exceed 50 to donate blood")

age must not exceed 50 to donate blood

In [ ]:

age=int(input("enter your age:"))
credit

In [ ]:
#day 3 (31/12/2025)

In [5]:
# 1. ACCESSING THE VALUE IN DICTIONARY 
my_dict={'name':'Alice','age':30,'city':'New York'}
print(my_dict['name'])          # Accessing value using key      
print(my_dict['age'])    # Accessing value using key

Alice
30

In [3]:
# 2. adding or updating key-value pair in dictionary
my_dict={'name':'Alice','age':30,'city':'New York'} 
my_dict['age']=31               # Updating existing key
my_dict['profession']='Engineer' # Adding new key-value pair   
print(my_dict)

{'name': 'Alice', 'age': 31, 'city': 'New York', 'profession': 'Engineer'}

In [ ]:
# 3. simply assigning the value to key in dictionary 
my_dict={'name':'Alice','age':30,'city':'New York'}
my_dict['age']=32               # Assigning new value to existing key   
print(my_dict)

{'name': 'Alice', 'age': 32, 'city': 'New York'}

In [6]:
# remove item 
my_dict={'name':'Alice','age':32,'city':'New York'}
del my_dict['city']            # removing key-value pair using del keyword
print(my_dict)

{'name': 'Alice', 'age': 32}

In [7]:
# using pop() method to remove item and get its value
my_dict={'name':'Alice','age':32}
removed_value = my_dict.pop('age')
print(removed_value)

32

In [ ]:
my_dict={'name':'Alice','age':32}
age = my_dict.pop('age')   # using pop() method to access value
print(my_dict)

{'name': 'Alice'}

In [10]:
# checking if a key exists in dictionary: you can check using 'in' keyword if a key exists 
my_dict={'name':'Alice','age':32}
if 'age' in my_dict:
    print("Key 'age' exists in the dictionary.")    
else:
    print("Key 'age' does not exist in the dictionary.")

Key 'age' exists in the dictionary.

In [14]:
my_dict={'name':'Alice','age':32, 'city':'pune'}
keys = my_dict.keys()   # getting all keys using keys() method  
values = my_dict.values() # getting all values using values() method    
print(keys)
print(values)

dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 32, 'pune'])

In [16]:
# clearing all items from dictionary: remove all items from the dictionary, use clear() method  
my_dict ={'name':'Gayatri','age':'32'}
my_dict.clear()
print(my_dict)

{}

In [17]:
#imp merging the dictionary: you use the update() method 
dict1 = {'name':'John'}
dict2 = {'age':23}
dict1.update(dict2)   # merging dict2 into dict1
print(dict1)

{'name': 'John', 'age': 23}

In [20]:
# nested dictionary: you have dictionaries inside other dictionaries 
nested_dict = {
    'person1': {'name': 'Alice', 'age': 30},
    'person2': {'name': 'Bob', 'age': 25}
}   
print(nested_dict)
c=nested_dict['person1']['name']  # accessing nested dictionary value
print(c)

{'person1': {'name': 'Alice', 'age': 30}, 'person2': {'name': 'Bob', 'age': 25}}
Alice

In [22]:
#imp get function 
#Getting the default values: uses the get() method to access a value and avoid KeyError.
#if a key is not found(dosen't exist), it returns None or a specified default value instead of raising an error.
a={'name':'Gayatri','age':32}
my_dict = {'name':'Gayatri','age':'32','city':'pune'}
name = my_dict.get('name','unknow')  # accessing existing key
#if 'name' dosen't exist it will return 'unknown' as default value
na = my_dict.get('na')
print(na)
print(name)

None
Gayatri

In [21]:
#copy dictionary 
original_dict = {'name':'Alice','age':30}
copied_dict = original_dict.copy()   # creating a shallow copy using copy() method  
print(copied_dict)

{'name': 'Alice', 'age': 30}

real world examples

In [28]:
#verify username and password using dictionary 
dict ={'username':'admin','password':'admin123'}
username=str(input("enter username:"))
password=str(input("enter password:"))       
if dict['username']==username and dict['password']==password:
    print("access granted")
else:
    print("access denied")

access granted

In [30]:
#increase salary by 10%
salary = {"A":30000,"B":40000} 
for i in salary:
    salary[i]=salary[i]+(0.1*salary[i])   #increasing salary by 10%
print(salary)

{'A': 33000.0, 'B': 44000.0}

In [1]:
cart = {"laptop": 50000, "mouse": 500}
print(sum(cart.values()))

50500

In [48]:
#inventory management (update stock after sale)
stock = {"pen":20}
sold = {"pen":5}
for pen in sold:
    stock[pen] -= sold[pen]
print(stock)

{'pen': 15}

In [ ]:
#dictionary comprehension

string codes