# 29/12/2025

In [1]:
a = (1, 2, 3)
a = (6,) + a[1:]
print(a)

(6, 2, 3)

In [2]:
a=[1,2,3,4,5]
a.remove(4)
print(a)

[1, 2, 3, 5]

In [4]:
b=[1,2,3,4,5]
b.pop()
print(b)

[1, 2, 3, 4]

In [5]:
a=[1,2,2,2,3,4,5]
count1=a.count(2)
print(count1)

3

In [6]:
a=[1,2,3,4,5]
a.extend([6,7,8])
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
a = [1, 2, 3, 4, 5]
a.insert(1, 70)  # insert 70 at index 1
print(a)

[1, 70, 2, 3, 4, 5]

In [23]:
a=("nikhil",10.5,10,True,10)
print(a)

('nikhil', 10.5, 10, True, 10)

In [ ]:
a=(2,3,4)       #if number given with quoma then it is tuple 
b=(2)           #if number given without quoma then it is integer   
print(type(a))
print(type(b))

<class 'tuple'>
<class 'int'>

In [ ]:
nested_tuple = ((1, 2,), (3, 4), (5, 6))
print(nested_tuple[2]) 
print(nested_tuple)         #print entire tuple as tuple name is same as given 
print(nested_tuple[1][0])

(5, 6)
((1, 2), (3, 4), (5, 6))
3

In [3]:
b = [2, 3, 4]
b[0] = 10   
print(b)

[10, 3, 4]

In [ ]:
a=(1,2,3,4)
b=list(a)   #convert tuple to list  (forcefully type conversion)
print(type(b))
print(b)

<class 'list'>
[1, 2, 3, 4]

In [ ]:
#Concatenate two tuples
a=(1,2,3)  
b=(4,5,6)   
c=a+b
print(c)

(1, 2, 3, 4, 5, 6)

In [ ]:
#tuple examples

In [48]:
#create an empty tuple
empty_tuple=() 
print(type(empty_tuple))

<class 'tuple'>

In [49]:
#access value in tuple using indexing 
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple[2])  # Output: 30

30

In [50]:
#check existance of an item in tuple using if else 
my_tuple = (10, 20, 30, 40, 50)
if 30 in my_tuple:
    print("Item found")
else:
    print("Item not found")

Item found

In [51]:
#fetch the specific element using indexing 
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple[2])  # Output: 30

30

In [53]:
#negative indexing in tuple
my_tuple = (10, 20, 30, 40, 50)     
print(my_tuple[-1])  # Output: 50

50

In [54]:
#slicing in tuple
my_tuple = (10, 20, 30, 40, 50, 60, 70)
print(my_tuple[2:5])  # Output: (30, 40,

(30, 40, 50)

In [ ]:
#can we update tuple values?
my_tuple = (10, 20, 30, 40, 50)
#my_tuple[1] = 25  # This will raise a TypeError

In [ ]:
a={}
print(type(a))   #empty dictionary